@font-face {
  font-family: MyGlitch;
  src: url(GlitchProgressive.ttf);
}

body {
	background: linear-gradient(180deg, #e8d2ff, #8699d1);
}

.title {
	font-family: MyGlitch;
	font-size: 70px;
	padding-top: 80px;
	text-align: center;
}

.generatemood {
	border-radius: 15px 15px;
	text-align: center;
	background-color: #bfffe6;
	opacity: .7;
	font-size: 30px;
	color: #ecb4bf;
	font-family: Georgia;
	font-style: italic;
	padding: 10px;
  border: none;
  outline: none;
  transition: box-shadow 0.3s, border 0.3s;
}

div {
	margin: 0 auto;
}

button {
	background-color: #47d1d5;
	font-size: 20px;
	font-style: italic;
	border: none;
	height: 40px;
	width: 40px;
	border-radius: 15px 15px;
	color: #bfffe6;
}