<doctype! html>
<html ng-app='mbphotos'>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script src='./photos/photoscontroller.js'></script>
<script src='app.js'></script>
<head>
	<title>Mood Board ☾</title>
</head>
<body ng-controller='PhotosController'>
  <h1 class='title'>mood board</h1>
  <div align='center' >
  	<input class='generatemood' type='text' value='Generate Mood' ng-model='aMood' onclick='this.value=""' ng-submit='genMood(aMood)' />
		<button ng-click='genMood(aMood)' class="submit">Go</button>
  </div>
  <div><br>
  <div align='center' class='nomatches' ng-if=val>no matches ¯\_(ツ)_/¯ try again</div>
  <br><br><br>
  	<div align='center' class='photolist' ng-repeat='photo in finalPhotos.slice().reverse()'>
  	<span><img src='{{ photo }}' class='image' ng-click='removePhoto($index)'></span>
  	</div>
  </div>
  <link rel='stylesheet' href='style/style.css'>
</body>
</html>